.weather-card {
  background-color: #90bddabf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1;
  min-width: 200px;
  transition: transform 0.2s ease-in-out;
}

.weather-card:hover {
  transform: translateY(-5px);
}

.weather-card h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.weather-card p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}
